<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse header" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {{#if userCustomId}}
      <li class="nav-item active">
        <a class="nav-link" href="/blogs">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" style="margin-left: 700px;">
        <form method='POST' action='/users/logout?cadbury=DELETE'>
          <input type="submit" value="Logout">
        </form>
      </li>
      {{else}}


      <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      {{/if}}

    </ul>
  </div>
</nav>