<h1 style="text-align: center;">Welcome to worlds company</h1>
<div style="text-align: center;">
    <button onclick="window.location.href = '/login';"
        style="background-color: rgb(248, 172, 7);border-radius:30%"><b><em>Login</b></em></button>
    <button style="background-color: rgb(248, 172, 7);border-radius:30%"
        onclick="window.location.href = '/register';"><b><em>Register</b></em></button>
    <button style="background-color: rgb(248, 172, 7);border-radius:30%"
        onclick="window.location.href = '/companys';"><b><em>Companies</b></em></button>
</div>